{{outlet}}<meta charset="utf-8">
	<title>GUHA</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/1.png">
	<!-- end: Favicon -->
<!-- esto es fire base prro -->

		<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCImjD67U5oAmEI_aqeTRjVOuNzGr50ZxI",
    authDomain: "guha-dev.firebaseapp.com",
    databaseURL: "https://guha-dev.firebaseio.com",
    projectId: "guha-dev",
    storageBucket: "guha-dev.appspot.com",
    messagingSenderId: "637932129887"
  };
  firebase.initializeApp(config);
</script>

<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"></script>


		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" > <img alt="Administación de Unidad" src="img/1.png" /> <span>Administación de Unidad Habitacional</span></a>
								
				<!-- start: Header Menu -->
				<div class="btn-group pull-right" >	
				{{#link-to "alertas"}}
				
					<a class="btn" href="alertas.html">
						<i class="icon-warning-sign"></i><span class="hidden-phone hidden-tablet"> Alertas</span> <span class="label label-important hidden-phone">1</span> <span class="label label-success hidden-phone"></span>
					</a>
					{{/link-to}}
					{{#link-to "encuestas"}}
					<a class="btn">
						<i class="icon-tasks"></i><span class="hidden-phone hidden-tablet"> Encuestas</span> <span class="label label-warning hidden-phone">4</span>
					</a>
					{{/link-to}}
					{{#link-to "solicitudes"}}
					<a class="btn">
						<i class="icon-envelope"></i><span class="hidden-phone hidden-tablet"> Solicitudes</span> <span class="label label-success hidden-phone">2</span>
					</a>
					{{/link-to}}
					<!-- start: User Dropdown -->
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone hidden-tablet"> Perfil</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Ajustes</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Cerrar Sesión</a></li>
					</ul>
					<!-- end: User Dropdown -->
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>

	
		<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
		<!-- start: Main Menu -->
			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Menú principal</li>
						<li>{{#link-to "index"}}<i class="icon-home"></i><span class="hidden-tablet">Resumen</span>{{/link-to}}</li>

						<li>{{#link-to "pagos"}}<i class=" icon-plus"></i><span class="hidden-tablet"> Pagos</span>{{/link-to}}</li>

						<li>{{#link-to "gastos"}}<i class=" icon-minus"></i><span class="hidden-tablet"> Gastos</span>{{/link-to}}</li>

						<li>{{#link-to "colonos"}}<i class="icon-align-justify"></i><span class="hidden-tablet"> Colonos</span>{{/link-to}}</li>

						<li>{{#link-to "calendario"}}<i class="icon-calendar"></i><span class="hidden-tablet"> Calendario</span>{{/link-to}}</li>

						<li>{{#link-to "encuestas"}}<i class="icon-check"></i><span class="hidden-tablet"> Encuestas</span>{{/link-to}}</li>

						<li>{{#link-to "solicitudes"}}<i class="icon-question-sign"></i><span class="hidden-tablet"> Solicitudes</span>{{/link-to}}</li>

						<li>{{#link-to "alertas"}}<i class="icon-exclamation-sign"></i><span class="hidden-tablet"> Alertas</span>{{/link-to}}</li>

						<li>{{#link-to}}<i class="icon-user"></i><span class="hidden-tablet">Servicios</span>{{/link-to}}</li>
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- end: Main Menu -->

			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			<div class="row-fluid sortable">	
				<div class="box span10">
					<div class="box-header">
						<h2><i class="icon-align-justify"></i><span class="break"></span>Registro de Gastos</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-plus-sign"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content ">
						<table class="table table-bordered table-striped table-condensed">
							  <thead>
								  <tr>
									  <th>Referencia</th>
									  <th>Fecha de registro del gasto</th>
									  <th>Monto</th>
									                                        
								  </tr>
							  </thead>   
							  <tbody>
								<tr>
									<td>Jardineros</td>
									<td class="center">2012/01/01</td>
									<td class="center">$1000.00 MXN</td>
								
								                                       
								</tr>
								<tr>
									<td>Sueldos caseta de seguridad</td>
									<td class="center">2012/02/01</td>
									<td class="center">$1000.00 MXN</td>
									                                      
								</tr>
								<tr>
									<td>Alumbrado Público</td>
									<td class="center">2012/02/01</td>
									<td class="center">$1000.00 MXN</td>
									                                      
								</tr>
								<tr>
									<td>Mantenimiento Alberca</td>
									<td class="center">2012/03/01</td>
									<td class="center">$1000.00 MXN</td>
									                                       
								</tr>
								<tr>
									<td>Bache calle principal</td>
									<td class="center">2012/01/21</td>
									<td class="center">$1000.00 MXN</td>
									                                        
								</tr>                                   
							  </tbody>
						 </table>  
						 <div class="pagination pagination-centered">
						  <ul>
							<li><a href="#">Prev</a></li>
							<li class="active">
							  <a href="#">1</a>
							</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Next</a></li>
						  </ul>
						</div>     
					</div>
				</div><!--/span-->
			</div><!--/row-->
    
					<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Añadir Gasto</h3>
			</div>
			<div class="modal-body">
			
					<h1 class="box span4">Referencia</h1>
					<input type="text" name="ngasto" class=" span5">
					<h1 class="box span4">Fecha</h1>
					<input type="date" name="fgasto" class="box span5">
					<h1 class="box span4">Monto</h1>
					<input type="text" name="mgasto" class="box span5">
					<h1 class="box span4">Añadir Comprobante</h1>
							<div class="control-group">
							  <div class="controls">
								<input name="comGasto" class="input-file uniform_on" id="fileInput" type="file">
							  </div>
			</div>
			</div>

			<div class="modal-footer">
				<a href="gastos.html" class="btn" data-dismiss="modal">Cancelar</a>
				<a href="gastos.html" class="btn btn-primary">Agregar Gasto</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
			